# Залежності
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Середовище
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Редактори та IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Операційні системи
.DS_Store
Thumbs.db
ehthumbs.db

# Build / dist папки
dist/
build/
out/

# Tailwind CSS
.tailwind/
postcss.config.js
tailwind.config.js

# Локальні файли
*.local

# Великі файли
*.psd
*.ai
*.zip
*.rar

# Логи та тимчасові файли
*.log
*.tmp
*.temp
